<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Help</h1>
	<p>
		Get help on the Ruby on Rails at the
		<a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
	</p>
</body>
</html>